/Umbrella/cocos2d/*
/Umbrella/image/*
/Umbrella/music/*
/Umbrella/proj.android/*
/Umbrella/proj.ios_mac/*
/Umbrella/proj.linux/*
/Umbrella/proj.win8.1-universal/*
/Umbrella/proj.win32/*
/Umbrella/proj.wp8-xaml/*